body {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffd7d7;
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 3px;
}

h1 {
    color: #fff;
    padding: 15px;
    border-bottom: 5px solid #fff;
    text-align: center;
}

progress {
    -webkit-appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    text-content: '5%';
    background-color: #ff7c7c;
    border-radius: 10px;
    color: #000;    
} 
