body {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffd7d7;
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 3px;
}

h1 {
    color: #fff;
    padding: 15px;
    border-bottom: 5px solid #fff;
    text-align: center;
}
